div div {
  height: 50px;
  width: 50px;
}

body :nth-child(n) {
  display: flex;
}

body :nth-child(even) :nth-child(2n) {
  background-color: black;
}

body :nth-child(odd) :nth-child(2n + 1) {
  background-color: black;
}

body :nth-child(odd) :nth-child(2n) {
  background-color: red;
}

body :nth-child(even) :nth-child(2n + 1) {
  background-color: red;
}
